body {
    background-repeat: no-repeat;
    background-size: cover;
}

.card-title{
    font-size: 20px;
}

#contatos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 80px;
    font-family:monospace;
    color: white;
    background-image: url(../images/lego2.gif);
}

.card {
    background-color: transparent;
    border-radius: 20px;
    text-align: center;
    margin: 2vh;
    border-width:3px;
    border-style: groove;
    border-color: #080808;
    
}

.img {
    width: 200px;
    height:200px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    border-radius: 10px;
    margin-top: 3%;
    transition: 0.3s;
}


.imgIcone {
    width: 42px;
    height: 42px;
    border-radius: 20px;
}


.imgIcone:hover {
    transform: scale(1.1);
}

#footer{
    font-family: 'Poppins', sans-serif;
    color: white;
}   